body
{
    min-width: 200px;
    max-width: 400px;
    margin: 10% 2% 2% 20%;

    color: dimgrey;
}

#main-content
{
    font-style: italic;
    color: hsl(125,100%,20%);
}

#input-area
{
    font-size: 30px;
    font-style: oblique;

    max-width: 80%;
    margin: auto;
    margin-bottom: inherit;

    text-align: left;

    border: 10px double #eee;
    background-color: #e4946b;

    align-self: center;
}

form
{
    margin: 5%;
    margin-bottom: auto;
}

.list-group
{
    font-size: 20px;

    margin: 5%;
    margin-bottom: auto;
}


input[type='submit']
{
    vertical-align: top;

    color: blue;
}


.errors
{
    color: red;
}
